.proj {
    width: 30%;
    height: 95vh;
    margin: 20px 10px;
    border: 2px solid #ccc;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.proj-browser {
    height: 20px;
    background-color: #00B4D8;
    display: flex;
    align-items: center;
}

.proj-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: #ea417f;

}
.proj-title{
    margin-top: 40px;
    font-size: 18pt;
    color: #ea417f;
}

.proj-img{
    width: 100%;
}
.desc{
    color: black;
    font-size: medium;
    margin-top: 10px;
    padding: 5px 10px 20px 10px;
}
.tech{
    color: black;
    font-size: medium;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}
.icons{
    display:inline-block;
    justify-content: space-between;
    margin-top: 30px;
    
}
.fa-github{
    padding-right: 10px;
    font-size:x-large;
}
.fa-external-link-alt{
  
    font-size:x-large;
}



@media screen and (max-width: 480px) {
    .proj {
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
    }
    
}
