.portfolio{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.p-title{
    padding-top: 50px;
    font-size: 32px;
}

.p-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .p-list {
        flex-direction: column;
        width: 100%;
        padding-bottom: 30px;
        flex-basis: 480px;
    }

    .portfolio {
        width: 100%;  
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 20vh;
        display:block;
        flex-direction: column;
    }
    .p-title{
      padding-top: 50px;
      padding-right:200px;
      text-align: center;
      
    }
}
