.a{
    height: 800px;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    padding-top: 155px;
    
    
}
.a-title{
    padding: 150px 0px 20px 0px;
    font-size: 32px;
}
.a-desc{
    padding: 20px 60px 20px 0px;
}

.a-right{
    flex: 1;
    padding-bottom: 50px;
}
.a-img{
    background-size: contain;
}

.action{
    display:flex;
   
    justify-content:space-evenly;
}

button {
    color: #00B4D8;
}

@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
        text-align: center;
    }

    .a-left {
        padding-top: 150px;
        width: 100%;  
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30%;
    }
    .a-right{
      padding: 0px;
      text-align: center;
    }
    .action {
        flex-direction: column;
        text-align: center;
    }
    .button {
        margin-top: 30px;
    }

}




