.a{
    height: 800px;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    padding-top: 115px;
    
}
.a-title{
    padding: 20px 0px 20px 0px;
}
.a-desc{
    padding: 20px 60px 20px 0px;
}

.a-right{
    flex: 1;
}
.a-img{
    background-size: contain;
}

@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
        text-align: center;
    }

    .a-left {
        padding-top: 150px;
        width: 100%;  
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    .a-right{
      padding: 50px;
    }

}




