.c{
    padding-top: 90px;
    padding-bottom: 90px;
    height:auto;  
    
    
}

.c-bg {
    width: 30px;
    height: 600px;
    position:absolute;
    background-color: #00B4D8;
  
}
.c-wrapper{
    padding: 50px;
    display: flex;
}

.c-left {
    flex:1;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
  
}
.c-title{
font-size: 60px;
font-weight: 300;
width: 60%;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}

.c-icon{
    width: 25px;
    margin-right: 20px;
}

.c-desc{
    font-weight: 200px;
    font-size: 20px;
    text-align: left;
}
form{
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border:1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .c-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .c-left {
        padding-left: 100px;
    }
    .c-right {
        align-items: center;
        padding-left: 100px;
        
    }
    .c-title{
        width: 100%;
        font-size: 40px;
        align-items: center;
    }
    .c-info-item{
    margin: 20px;
    }
    .c-desc{
        display: none;
    }
    .c-bg {
        display: none;
    }
    .message-box{
        width: 70%;
        clear:both;
        padding-bottom: 50px;
    }
    


}