.footer {
    background-color: #ea417f;
    flex-flow: row nowrap;
    text-align: center;
    padding: 15px 0px;
    
    
  }
  
@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
  
  }


